*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

table{
    border-collapse:collapse;
    width:25%;
}

th,td {
    text-align:left;
    padding: 8px;
}

th{
    background-color: red;
    color:aqua;
}

tr:nth-child(even){
    background-color: rgb(255, 47, 213);
}